@import './src/assets/componentes/cabecera/header.scss';
@import './src/assets/componentes/grueso/skills.scss';
@import './src/assets/componentes/grueso/expeyproyec.scss';
@import './src/assets/componentes/mediaq.scss';
@import './src/assets/componentes/footer/footer.scss';

:root {
  --primary-color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.4em;
  --transition: color 0.1s, backgraund-color 0.2s ease-in-out;
  --skills-bar-length: 0%;
}

* {
  box-sizing: border-box;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}
body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
  .card__text {
    color: var(--text-color);
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  padding: 20px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid-item--left {
  grid-column: 1;
  grid-row: span 1;
}
.grid-item--right {
  grid-column: 2;
}
.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary-color);
  margin-top: 10px;
}
.card__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.card__text {
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-color);
}
.card__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.card__image {
  max-width: 100%;
  border-radius: 8px;
}
