:root {
  --primary-color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.4em;
  --transition: color 0.1s, backgraund-color 0.2s ease-in-out;
  --skills-bar-length: 0%;
}

.footer {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.footer-buttons {
  justify-content: space-between;
  width: 100%;
  a {
    background-color: var(--primary-color);
    color: black;
    border-radius: var(--border-radius);
    height: 30px;
    padding: 10px 20px;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: small;
  }
}
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}
body.dark .footer {
  background-color: #222;
  color: #e0e0e0;
}
body.dark .footer-buttons .footer-button {
  background-color: #444;
}
body.dark .footer-buttons .footer-button:hover {
  background-color: #555;
}
